@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="week"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    --tw-ring-color: #ffffff00;
    border-color: var(--tw-ring-color);
  }

  /*
  [type="checkbox"],
  [type="radio"] {
    color: #b7202500;
  }

  [type="checkbox"]:focus,
  [type="radio"]:focus {
    --tw-ring-color: #b7202500;
  } */

  button:focus,
  /* a:focus {
    box-shadow: 0 0 0 3px rgba(225, 66, 66, 0.5);
    border-color: #b72025;
    outline: none;
  } */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

:root {
  --blue: #8595a6;
  font-family: "Inter", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue";
}

html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: "Inter", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue";
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #ff0000;
  border-radius: 0.1335rem;
}
code:not([class*="language-"]):before,
code:not([class*="language-"]):after {
  content: "`";
}
code[class*="language-"] {
  padding: 0;
}

.custom-pagination .swiper-pagination-bullet {
  background-color: white;
  opacity: 0.5;
  border-radius: 50%;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #ffffff;
  border-radius: 50%;
}

.custom-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: fit-content;
}

.swiper-slide.category {
  width: max-content;
}

.edit > .ql-toolbar.ql-snow,
.edit > .ql-container.ql-snow {
  border-color: #b72025 !important;
}

/* .bg-blurry-red {
  background-image: url("/images/red-blurry.jpg");
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-color: rgba(17, 16, 23, 1);
} */

@media screen and (max-width: 600px) {
  .bg-blurry-red {
    background-size: 100% 25%;
  }
}
